@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Playfair+Display:400,900&display=swap&subset=latin-ext');

.welcome-screen {
  text-align: center;
  background-color: #f7f2e1;
}

/* .body */

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

p, h3, button {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-buttons {
  display: flex;
  flex-direction: row;
}

button {
  font-size: 26px;
  background: #e8dfc9;
  border: none;
  border-bottom: 8px solid #c6bfad;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: 0.4s all ease;
}

button:active {
  border-bottom: none;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 26px;
  background: #e8dfc9;
  border: none;
  border-bottom: 8px solid #c6bfad;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: 0.4s all ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
